body {
  margin: 0;
  padding: 0;
}

#controlls {
  display: grid;
  grid-template-columns: minmax(150px, 25%) 1fr;
  width: 100%;
}

.speedController {
  margin: 0.2em;
  min-height: 45px;
  height: 2.5em;
  width: 100%;
}

.inputNumber {
  position: relative;
  text-align: center;
  margin: 0.2em;
  width: 8em;
  height: 4em;
}

.inputNumber input {
  width: 80%;
  text-align: center;
  margin: auto;
}

.inputNumber canvas {
  position: absolute;
  bottom: 0;
  left: 0;
}

#parametersDiv {
  background: #fff;
  float: right;
}

#runControllerDiv {
  background: #fff;
  float: right;
}

#sketches {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#sketches div {
  flex: 0 1 600px;
  height: 450px;
  margin: 15px;
}

/*#sketches {
  z-index: -1;
  width: 100%;
  height: 100vh;
}

#flockSketch, #graphSketch0, #graphSketch1, #graphSketch2 {
  width: 49%;
  height: 49%;
  margin: 0;
  display: inline-block;
}*/